.box {
    border: 1.5px solid;
    padding-left: 0.8em;
    padding-right: 0.8em;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.box p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
